* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 191, 202, 0.534);
  padding: 10% ;
}

a {
  height: 100%;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.airport-board{ 
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 10%;
  font-size: 56px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}


.flights {
  margin: auto;
  width: 100%;
  position: relative;
  justify-content: center;
  
    &__search-form {
      margin: 0 10%;
      display: flex;
      flex-direction: column;

        &_date {
          margin: auto;
          margin-bottom: 20px;
          border: none;
          font-size: 22px;
        }

        &_field {
          display: flex;
          flex-direction: row;
        }
    
        &_input {
          position: relative;
          height: 80px;
          width: 100%;
          padding-left: 70px;
          font-size: 30px;
          border: none;
        }

        &_submit {
          height: 80px;
          width: 30%;
          background-color: #0189D1;
          border: none;
          color: #fff;
          font-size: 26px;
          text-transform: uppercase;
          border-radius: 0px 70px 0px 0px;
          cursor: pointer;
          opacity: 0.7;

            &:hover {
              opacity: 1;
            }
        }
    }
    
    &__type {
      border-radius: 50px 50px 0px 0px;
      margin-top: 20px;
      min-width: 511px;
      background-color: #0189D1;
      display: flex;
      justify-content: space-between;

      &_btn {
        width: 50%;
        height: 60px;
        padding: 0;
        background-color: #0189D1;
        border: none;
        color: #fff;
        font-size: 26px;
        text-transform: uppercase;
        cursor: pointer;
        opacity: 1;

          &:hover {
            opacity: 1;
          }
      }
    }
}

.departure{
  border-radius: 50px 50px 0px 0px;

    &__text {
      margin-left: 15px;
    }
}

.arrival {
  border-radius: 50px 50px 0px 0px;

  &__text {
    margin-right: 15px;
  }
}

.flightBoard {
  justify-content: space-around;
  font-size: 20px;
  background-color: #fff;
  color: #B8B9B9;

}

.board-table {
  color: #000000;
  text-align: center;
  padding-top: 10px;
}
.fligths-not-found {
  margin: auto;
  margin-top: 40px;
  font-size: 32px;
  font-style: oblique;
  color: #B8B9B9;
}


.fa-search {
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
  z-index: 2;
  font-size: 50px;
  color: #B8B9B9;
}

.logo {
  margin-right: 10px;
  height: 25px;
}

.displayed {
  background-color: #fff;
  color: #0189D1;
}

.notice {
  text-align: center;
  margin: 15px;
  color: red;
}